.title.toc-ignore {
  display: none;
}

.realtitle {
  font-size: 500%;
}

body .main-container {
 max-width: 750px;
 margin-left: auto;
 margin-right: auto;
}

.creatednav {
  padding-right: 10px;
  padding-left: 10px;
}

p, li, h1, h2, h3 {
  color: #ffffff;
}

a {
  color: #888888;
}

body {
  background: #000000;
}

h1.realtitle {
  margin-top: 4px;
}