.title.toc-ignore {
  font-size: 400%;
}

.author {
  font-size: 200%;
}

a {
  color: #A0A;
  text-decoration: none;
}

a:hover {
  color: #A0A;
  text-decoration: underline;
}

body {
  max-width: 750px;
  margin-left: auto;
  margin-right: auto;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif;
  line-height: 1.5;
  font-size: 1.4rem;
  color: #222222;
  font-weight: 400;
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 100px;
  padding-bottom: 40px;
}

strong {
  font-weight: 600
}

li {
  line-height: 1.5;
  font-size: 1.4rem;
}

.notes ul {
  list-style-type: none;
}

.notes span {
    color: #aaa;
    font-family: Monaco, "Courier New", monospace;
    font-size: 80%;
}

h2 span {
    color: #aaa;
    font-family: Monaco, "Courier New", monospace;
    font-size: 80%;
}

h3 span {
    color: #aaa;
    font-family: Monaco, "Courier New", monospace;
    font-size: 80%;
}

.h4, .h5, .h6, h4, h5, h6 {
    margin-bottom: 8px;
}

h2, h3 {
  padding-bottom: .2em;
  border-bottom: 1px solid #eaecef;
}

.author {
  text-indent: 10%;
}
